<div class="container">
    <div class="container-fluid">
        <div>
            <h2>List of Employee</h2>
        </div>

        <form>
            <div class="form-group form-inline">
                Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
                    [(ngModel)]="searchTerm" />
                <span class="ml-3" *ngIf="loading$ | async">Loading...</span>
            </div>

            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col" sortable="employeeId" (sort)="onSort($event)">Employee Id</th>
                        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                        <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
                        <th scope="col" sortable="dob" (sort)="onSort($event)">DOB</th>
                        <th scope="col" sortable="mobileNumber" (sort)="onSort($event)">Mobile Number</th>
                        <th scope="col" sortable="address" (sort)="onSort($event)">Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employeeProfile of employeeProfiles$ | async;let i = index">
                        <td>
                            <ngb-highlight [result]="employeeProfile.employeeId" [term]="searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="employeeProfile.name" [term]="searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="employeeProfile.email" [term]="searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="employeeProfile.dob" [term]="searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="employeeProfile.mobileNumber | number" [term]="searchTerm">
                            </ngb-highlight>
                        </td>

                        <td>
                            <ngb-highlight [result]="employeeProfile.address" [term]="searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <button class="btn btn-secondary" (click)="deleteEmployeeById(i)">Delete</button>
                            <button class="btn btn-secondary">View</button>

                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
            </div>

        </form>
    </div>
</div>