.eye_logo {
  width: 63%;
  min-width: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: -45%;
}

.delete_btn_logo {
  width: 55%;
  min-width: 12px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: -50%;
}

.view-employees {
  background-color: #2557a7;
  font-size: 18px;
  // padding: 5px;
  // display: inline-block;
  // padding: 11px 15px;
  border-radius: 10px;
  // width: 100%;
  margin: 0;
}

.pagination-btn {
  justify-content: flex-end;
}

// For mobiles
@media (max-width: 575px) {
  .hide-mobile {
    display: none;
  }

  .pagination-btn {
    margin-top: 2%;
  }
}
