<div class="container">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <h2>List of Employee</h2>
        </div>

        <form class="mt-5">
            <div class="d-flex" style="justify-content: space-between;">
                <div class="form-group form-inline">
                    <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
                        placeholder="Full text search" style="border-radius: 10px;" />
                    <span class="ml-3" *ngIf="loading$ | async">Loading...</span>
                </div>
                <div>
                    <button class="btn btn-secondary view-employees" [routerLink]="['/']">
                        Add Employees
                    </button>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col" sortable="employeeId" (sort)="onSort($event)">Employee Id</th>
                            <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                            <th scope="col" sortable="email" (sort)="onSort($event)" class="hide-mobile">Email</th>
                            <th scope="col" sortable="dob" (sort)="onSort($event)" class="hide-mobile">DOB</th>
                            <th scope="col" sortable="mobileNumber" (sort)="onSort($event)" class="hide-mobile">Mobile
                                Number</th>
                            <th scope="col" sortable="address" (sort)="onSort($event)" class="hide-mobile">Address</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                        <tr *ngFor="let employeeProfile of employeeProfiles$ | async;let i = index">
                            <td>
                                <ngb-highlight [result]="employeeProfile.employeeId" [term]="searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="employeeProfile.name" [term]="searchTerm">
                                </ngb-highlight>
                            </td>
                            <td class="hide-mobile">
                                <ngb-highlight [result]="employeeProfile.email " [term]="searchTerm">
                                </ngb-highlight>
                            </td>
                            <td class="hide-mobile">
                                <ngb-highlight [result]="employeeProfile.dob " [term]="searchTerm">
                                </ngb-highlight>
                            </td>
                            <td class="hide-mobile">
                                <ngb-highlight [result]="employeeProfile.mobileNumber" [term]="searchTerm">
                                </ngb-highlight>
                            </td>

                            <td class="hide-mobile">
                                <ngb-highlight [result]="employeeProfile.address | slice:0:10 | titlecase"
                                    [term]="searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a class="m-2" style="outline: none; border: none;"
                                        [routerLink]="[employeeProfile.id]">
                                        <img src="assets/images/basicLogo/eye_logo.svg" alt="" class="eye_logo"
                                            placement="top" ngbTooltip="View Details" container="body">

                                    </a>

                                    <div class="m-2" style="outline: none; border: none;" data-toggle="modal"
                                        data-target="#deleteQuestionModal">
                                        <img src="assets/images/basicLogo/delete_btn_logo.svg" alt=""
                                            class="delete_btn_logo" placement="top" ngbTooltip="Delete" container="body"
                                            (click)="deleteEmployeeById(i)">
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row d-flex justify-content-between p-2">
                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                        <option [ngValue]="pageSize">{{pageSize}} items/page</option>
                        <option [ngValue]="5">5 items per page</option>
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                    </select>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                    <div class="d-flex pagination-btn">
                        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize"
                            [boundaryLinks]="true">
                        </ngb-pagination>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>


<ng-template #userModal let-modal>
    <div class=" modal-header">
        <h4 class="modal-title">Employee Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeEmployeeDetails()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="card  mb-3" *ngIf="employeeDetails">
            <div class="card-header">
                <div class="d-flex">
                    <div class="mr-3">
                        <img src="assets/images/basicLogo/user_logo.svg" alt="" style="width: 100%;" placement="top"
                            ngbTooltip="Employee Name" container="body" class="pointer">
                    </div>
                    <div class="mt-2">{{employeeDetails.name | uppercase}}</div>
                </div>

                <div class="d-flex mt-3">
                    <div class="mr-3">
                        <img src="assets/images/basicLogo/mobile_logo.svg" alt="" style="width: 100%;" placement="top"
                            ngbTooltip="Mobile Number" container="body" class="pointer">
                    </div>
                    <div>
                        <div class="mt-2">{{employeeDetails.mobileNumber}}</div>
                    </div>
                </div>

                <div class="d-flex mt-3">
                    <div class="mr-3">
                        <img src="assets/images/basicLogo/birthday_logo.svg" alt="" placement="top"
                            ngbTooltip="Date of Birth" container="body" class="pointer">
                    </div>
                    <div>
                        <div class="mt-2">{{employeeDetails.dob }}</div>
                    </div>
                </div>

                <div class="d-flex mt-3">
                    <div class="mr-3">
                        <img src="assets/images/basicLogo/email_logo.svg" alt="" placement="top" ngbTooltip="Email Id"
                            container="body" class="pointer">
                    </div>
                    <div>
                        <div class="mt-2">{{employeeDetails.email}}</div>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="d-flex mt-3">
                    <div class="mr-3">
                        <img src="assets/images/basicLogo/location_logo.svg" alt="" placement="top" ngbTooltip="Address"
                            container="body" class="pointer">
                    </div>
                    <div>
                        <div class="row card-text mt-1">
                            <div class="w-70 ml-2">{{employeeDetails.address}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="closeEmployeeDetails()">
            Close
        </button>
    </div>
</ng-template>